* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  font-family: "Arial";
  color: #1e272e;
  color: black;
  font-size: 16px;
  background: #BBD2C5;
  background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
  background: linear-gradient(to right, #536976, #BBD2C5);
}
header {
  /*background: #3d4552;*/
  background: #2f3640;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 0;
  font-size: 1rem;
}
nav{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
nav .logo{
  margin-left: 15px;
}
nav ul {
  display: flex;
}
nav ul a {
  color: #ffffff;
  padding: 25px;
  text-decoration: none;
}
nav .desplazar-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
nav .desplazar-menu i {
  font-size: 35px;
  cursor: pointer;
  color: #fff;
  display: none;
}
h1{
  text-align: center;
  padding: 20px;
}
h2{
  text-align: center;
}
h3{
  text-align: justify;
}
hr{
margin-left: 5%;
width: 90%;
}
section{
  display: flex;
  align-items: center;
}
.imagen{
  float: left;
  width: 45%;
  padding: 70px;
  margin-left: 8%;
}
.imagen img{
border-radius: 25px;
  
}
a {
  color: #000000;
  text-decoration: none;
}
article {
  float: left;
  width: 600px;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 29%;
  
}
footer {
  background: #2f3640;
  color: #ffffff;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
  clear: both;
}
@media screen and (max-width: 600px) {
  header {
      text-align: left;
  }
  section {
      margin-left: 0;
  }
  article {
      float: none;
      width: auto;
      margin-left: 0;
      margin-right: 0;
  }
  .imagen{
      float: none;
      width: auto;
      margin-left: 0;
      margin-right: 0;
  }
   nav {
      float: none;
      width: auto;
  }
  nav .menu ul {
      display: none;
  }
  nav .desplazar-menu i {
    display: block;
    margin: -30px -150px;
  }
  /*
  nav .menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #536976;
    position: fixed;
    margin-top: 80%;
    transform: translateX(-205%);
    transition: 1s ease-in;
    display: flex;
    margin: -40px 9px;
  }
  nav .menu ul .menu-on {
    transform: translateX(-4%);
  }
  nav .menu ul a {
    margin: 30px;
    text-transform: uppercase;
    display: flex;
  }*/
  footer{
    clear: both;
  }
}
/*FIN INDEX*/
.contenerdor {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

fieldset{
  margin-left: 60px;
  margin-right: 60px;
}
.left-column{
  width: 20%;
  margin-left: 3%;
}
.right-column{
  width: 80%;
}

.checkBox-left{
  width: 2%;
  margin-left: 3%;
}
.checkBox-right{
  width: 98%;
}
.botones{
  margin-left: 3%;
}

.botonesIndex{
  margin-left: 20%;
  width: 50%;
  padding: 7px 10px;
  border: 1px solid rgb(114, 113, 113);
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(18, 18, 19);
  background: rgb(114, 113, 113);
}
.modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  width: 40%;
  height: 50%;
  background:#9fac90;;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 0.8s;
  transform: translateY(0%);

}
.close{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25 px;
  height: 25 px;
  background: crimson;
  color: white;
  line-height: 25 px;
  cursor: pointer;
}
.modal-close{
transform: translateY(-200%);
}





form {
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}



input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	
}

